@import url('https://fonts.googleapis.com/css?family=Delius&display=swap');

.vcenter {
    display: flex;
    align-items: center;
}

.hcenter {
    display: flex;
    justify-content: center;
}

.body {
    max-width: 800px;
}

img {
    max-width: 300px;
    height: auto;
}

.footer {
    margin-top: 20px;
    font-size: 30px;
}

.footer p {
    max-width: 400px;
    font-size: 25px;
}

.footer p a {
    font-size: 25px;
}

img.header {
    max-width: 400px;
}
img.large {
    max-width: 800px;
    border-radius: 50px;
    margin: 20px;
}

h1, p, a {
    font-family: "delius", sans-serif;
    margin: 0;
}
h1 {
    font-size: 90px;
}
p {
    font-size: 40px;
}
a {
    color: #1793d1;
    font-size: 30px;
}
a.large {
    font-size: 40px;
}
a:hover {
    filter: brightness(1.2)
}
a:active {
    filter: brightness(0.8)
}
.line {
    height: 27pt;
    width: 100%;
    background: linear-gradient(91.93deg, #5ADAFF 0%, #1793D1 100%);
    border-radius: 50px;
    margin-top: 20px;
}
.line+p {
    margin-top: 20px;
}
p+h1{
    margin-top: 79px;
}
a+a {
    margin-left: 20px;
}